<div class="container_big-card">
  <div class="big-card_photo">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/2560px-Placeholder_view_vector.svg.png"
      alt="Imagem do big card component"
      srcset=""
    >
  </div>
  <div class="big-card_title">
    <h1>
      <a href="">
        {{cardTitle}}
      </a>
    </h1>
  </div>
  <div class="big-card_description">
    <p>
      Descrição do big card component.
      Descrição do big card component.
      Descrição do big card component.
      Descrição do big card component.
    </p>
  </div>
</div>
