.articles{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.articles_left, .articles_right{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.articles_left{
  /* border: 2px solid rgb(0, 255, 242); */
}

.articles_right{
  /* border: 2px solid rgb(119, 231, 28); */
  display: flex;
  flex-direction: column;
}

header{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
